# Node-related
node_modules/
**/node_modules/

# IDE and editor metadata
.vscode/
.*vscode
.history/
.*history

# Build and output directories
build/
dist/
Docker/

# Test-related
test/
**/test/

# Temp and log folders
temp/
*_temp/
logs*/

# Misc